body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(318.32deg, #c3d1e4 0%, #dde7f3 55%, #d4e0ed 100%);
}

.keys {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.key {
  margin: 0.5rem;
  padding: 3rem 4rem;
  border-radius: 1rem;
  display: inline-block;
  box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48), -4px -2px 16px #fff;
  -webkit-tap-highlight-color: transparent;
  transition: ease-in-out 0.1s;
}

.active {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48),
    inset -3px -3px 7px #fff;
}
