body {
  max-width: 1200px;
  background-image: url("../drums-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
}

.key {
  margin: 1rem;
  padding: 1rem 2rem;
  position: relative;
}

.key[data-key="87"] {
  top: 18rem;
  left: 28rem;
}

.key[data-key="68"] {
  top: 25rem;
  left: 30rem;
}

.key[data-key="86"] {
  top: 40rem;
  left: 37rem;
}

.key[data-key="78"] {
  top: 23rem;
  left: 47rem;
}

.key[data-key="73"] {
  top: 2rem;
  left: 40rem;
}

.key[data-key="89"] {
  top: 10rem;
  right: 2rem;
}

.key[data-key="82"] {
  top: 10rem;
  left: 6rem;
}

kbd {
  color: black;
  font-size: 2rem;
  padding: 1rem 1.5rem;
  background-color: aqua;
  border-radius: 10px;
  position: relative;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}
